body {
	background-color: yellow;
}

h1 {
	color: red;
}

a {
	text-decoration: none;
}

ul.navbar {
	margin-top: 15px;
	padding-left: 0;
	list-style-type: none;
}


ul.navbar li {
	display: inline-block;
	width: 90px;
	border: 1px solid black;
	height: 40px;
	text-align: center;
 	padding-top: 20px;
	margin-right: 5px;
}
